:root {
  --background-color: 404040;
  --foreground-color: white;
  --disabled-color: gray;
}
body {
  width: 18em;
  margin: 0;
  background-color: var(--background-color);
}
span {
  margin: 0.1em;
  display: flex;
  align-items: center;
  align-content: space-around;
}
button {
  width: 100%;
  background: transparent;
  border: none;
}
i {
  margin: 0.2em;
  color: var(--foreground-color);
}
button:disabled > i {
  color: var(--disabled-color);
}
.title {
  width: 100%;
  margin: 0.2em;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  color: var(--foreground-color);
}
.slider {
  width: 100%;
  padding: 0.5em;
  background: var(--background-color);
}
.text {
  padding: 0.5em;
  font-weight: bold;
  color: var(--foreground-color);
}
.disabled {
  color: var(--disabled-color);
}
